html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}
#container1 h1 {
  margin: 7px;
}
#search-bar h1 {
  margin: 20px;
  font-size: x-large;
  margin-left: 50px;
}
body{

  width:100%;
  height: 100%;
  background-image: url(bgSchool2.jpg);
  background-position: 60%;
  background-size: contain;
  background-color: #e6ddd6;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#mainContainer {
  left: auto;
  right: auto;
  width: 850px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}
#overall p {
  font-size: 1em;
  color: #e6ddd6;
}
header {
  height: 160px;
  display: flex;
  flex-wrap: wrap;
}
main {
  height: -webkit-fill-available;
  display: flex;
  flex-wrap: wrap;

}
button {
    width: 100px;
    height: 20px;
    border-radius: 0px;
    background: #ad4655;
    color: white;
    border: 0px;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;

}
form {
    display: flex;
  flex-wrap: wrap;
}
#container3 h3{
  padding-left: 20px;
  color: #ad4655;
  margin-top:0px;
  padding-top: 20px;
}
#container1 {
  width: 590px;
  padding: 5px;
  background-color: #b1aa9a;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  color: #e6ddd6;

}
#container2 {
  padding: 20px;
  width: 210px;
  background-color: #ad4655;
  position: relative;
  color: white;
}
#container2 h3,p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-size: 1em;
}
.topmargin {
  margin-top: 10px;
}
.switch:hover {
  color: #e6ddd6;
}
.writing {
  padding-top: 30px;
  padding-left: 15px;
  padding-bottom: 15px;
}
.form-control {
  background-color: #e6ddd6;
  width: 200px;
  height: 25px;
  color: #b1aa9a;
  border: none;
  padding-left: 8px;
}
.btn {
  width: 109px;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0px;
  background-color: #e6ddd6;
}
.listdown {
  width: 220px;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #e6ddd6;
  margin: 0px;
  border: 0px;
  border-radius: 0px;
  height: 32px;
  outline: none;
}
.number {
  font-size: large;
  margin-left: 5px;
}
.time {
  padding-top: 5px;
  padding-bottom:5px;
  border-bottom: 1px solid;
}
.subtotal {
  width: 120px;
}
.less-big-number {
  font-size: 200%;
  color: black;
}
.bignumber {
  font-size: 300%;
  color: black;
}
.rate {
  padding: 30px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.rate-number {
  background-color: #e6ddd6;
  height: 25px;
  width: 34px;
  margin-right: 12px;
  text-align: center;
  padding-top: 9px;
}
/*    this is the hover effect of the number selection    */
#num1-1:hover {
  background-color: #eaf2df;
}
#num2-1:hover {
  background-color: #d1c970;
}
#num3-1:hover {
  background-color: #f7cf40;
}
#num4-1:hover {
  background-color: #de8d6d;
  color: white;
}
#num5-1:hover {
  background-color: #ad4655;
  color: white;
}
/*    this is the hover effect of the number selection    */
#num1-2:hover {
  background-color: #eaf2df;
}
#num2-2:hover {
  background-color: #d1c970;
}
#num3-2:hover {
  background-color: #f7cf40;
}
#num4-2:hover {
  background-color: #de8d6d;
  color: white;
}
#num5-2:hover {
  background-color: #ad4655;
  color: white;
}

.rate-number1 {
  background-color: #eaf2df;
}
.rate-number2 {
  background-color: #d1c970;
}
.rate-number3 {
  background-color: #f7cf40;
}
.rate-number4 {
  background-color: #de8d6d;
  color: white;
}
.rate-number5 {
  background-color: #ad4655;
  color: white;
 }
.label:hover {
  background-color: #ad4655;
}
.subtitle {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.left-bar {
  width: 259px;
  border-right: 1px solid;
}
.right-bar {
  width: 260px;
  padding-left: 20px;
}
#moreinfo {
  padding-left: 10px;
  color: #ad4655;
  font-size: 90%;
  margin-top: 0px;
}
.num {
  font-size: x-large;
}
.rate-input {
  font-size: small;
  width: 230px;
  padding-left: 10px;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.explain {
  font-size: x-small;
  padding-left: 10px;
  width: 210px;
}
.label {
  display: inline-block;
  color: white;
  background: #b1aa9a;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 15px;
  font-size:50%;
  margin: 5px;
}
.labels {
  display: flex;
  flex-wrap: wrap;
}
.tips {
  background-color: #b1aa9a;
  width: 230px;
  height: fit-content;
  z-index: 20;
  padding-left: 13px;
  padding-right: 7px;
  padding-bottom: 20px;
  color: #e6ddd6;
}
.tips h3 {
  color: #ad4655;
  margin-bottom: 5px;
  margin-top: 0px;
  padding-top: 18px;
}
.before-submit {
  padding-left: 10px;
  color: #b1aa9a;
}
.selected {
  background-color: #ad4655;
  color: white;
 }
#course-name {
  background-color: #e6ddd6;
    border: 0px;
    width: 205px;
    height: 25px;
    padding-left: 10px;
    margin-top: 5px;
    margin-left: 5px;
}
#major {
    background-color: #e6ddd6;
    border: 0px;
    width: 205px;
    height: 25px;
    padding-left: 10px;
    margin-top: 5px;
    margin-left: 0px;
}
#container2 p {
  font-size: 0.6em;
  font-family: arial;
}
#container3 {
  height: fit-content;
  color: #b1aa9a;
  width: 600px;
  background-color: white;
  position: relative;
  box-shadow: 7px 7px 40px 3px grey;
  z-index: 10;
}

#container4 {
  width: 250px;
  height: 160px;
  z-index: 20;
}

#reselect-1 {
<<<<<<< HEAD
  border-right: 1px solid;
}
#reselect-1:hover {
  background-color: #ad4655;
  color: white;
}
#reselect-2:hover {
  background-color: #ad4655;
  color: white;
}
#textbook-1 {
  border-right: 1px solid;
}
#textbook-1:hover {
  background-color: #ad4655;
  color: white;
}
#textbook-2:hover {
  background-color: #ad4655;
  color: white;
}
#attendence-1 {
  border-right: 1px solid;
}
=======
  border-right: 1px solid;
}
#reselect-1:hover {
  background-color: #ad4655;
  color: white;
}
#reselect-2:hover {
  background-color: #ad4655;
  color: white;
}
#textbook-1 {
  border-right: 1px solid;
}
#textbook-1:hover {
  background-color: #ad4655;
  color: white;
}
#textbook-2:hover {
  background-color: #ad4655;
  color: white;
}
#attendence-1 {
  border-right: 1px solid;
}
>>>>>>> 16306c2872a4f6c9666d9355fc71702baf968152
#attendence-1:hover {
  background-color: #ad4655;
  color: white;
}
#attendence-2:hover {
  background-color: #ad4655;
  color: white;
}
#detail {
    background-color: #e6ddd6;
    border: 0px;
    width: 205px;
    height: 100px;
    padding-top: 5px;
    padding-left: 10px;
    margin-top: 5px;
    margin-left: 0px;
    resize: none;
}
#rate10 {
  padding-left: 5px;
}
#num10 {
  font-size: 110%
}
#submit {
  background-color: white;
  width: 250px;
  text-align: center;
  height: fit-content;
  font-size: xx-large;
  margin-top: 10px;
}
#submit p {
  font-size: large;
  color: #ad4655;
}
#rateProfessorBtn {
    background-color: #ad4655;
    border: 0px;
    align-self: center;
    height: 40px;
    width: 140px;
    font-size: x-large;
    color: white;
    margin-top: 15px;
}
