html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}
body{

  width:100%;
  height: 100%;
  background-image: url(bgschool.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div.container{
  background-color: rgba(230,221,214,0.6);
  width: 70%;
  height: 80%;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  box-shadow: 20px 20px 50px 15px grey;
  position: absolute;
  border-radius: 25px;
}
header{
  background: #a64b54;
  background-image: linear-gradient(#b04f59,#a64b54);
  height: 40px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
header a{
  text-decoration: none;
  color: #d9d9d9;
  text-align: center;
  display: inline-block;
  padding: 10px 10px;
  float: right;
}
header a:hover{
  opacity: 0.7;
}
header a:active{
  color: #81323b;
}
div.centerContent{

  text-align: center;
}
div.maintitle{
  position: relative;
  top: 40px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 50px;
  font-weight: bold;
}
#title{
  text-decoration: none;
  color: #404040;
}
#title:hover{
  background: -webkit-linear-gradient(-45deg, #ffa366, #66a3ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
div.subtitle{
  position: relative;
  top: -8px;
  margin: 5px 0;
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight: bold;
  font-size: 23px;
  color: #ac3945;
}
div.description{
  position: relative;
  top: -15px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 27px;
  color: rgba(128, 128, 128, 0.3);
}

a.searchSchool{
  position: relative;
  top: 20px;
  text-decoration: none;
  text-align: center;
  color: #d9d9d9;
  background-color: #a64b54;
  padding: 10px 30px;
}
.searchSchool:hover{
  box-shadow: 5px 5px 30px 5px grey;
  background-image: linear-gradient(-45deg, #33ccff, #ff3399);
}
a.rateTeacher{
  position: relative;
  top: 70px;
  text-decoration: none;
  text-align: center;
  color: #d9d9d9;
  background-color: #a64b54;
  padding: 10px 30px;
}
.rateTeacher:hover{
  box-shadow: 5px 5px 30px 5px grey;
  background-image: linear-gradient(-45deg, #33ccff, #ff3399);
}
.input-container {
  margin: auto;
  margin-bottom: 20px;
  width:250px;
  border-bottom: 1px solid;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}
.margin-zero {
  margin-bottom: 0px;
  margin-top: 10px;
}
.input-text {
  height: 30px;
  width:200px;
  background-color: rgba(0,0,0,0);
  border: none;
  padding-left: 20px;
  font-size: large;
  color: #696663;
  outline: none;
}
.input-text::placeholder{
  color: #9c9996;
}
.search-btn {
  margin-top: 10px;
  font-size: large;
  width: 210px;
  height: 40px;
  background-color: #ad4655;
  color: white;
  outline: none;
}
.search-btn:hover{
  border: 1px solid #a6a6a6;
  box-shadow: 5px 5px 30px 5px grey;
  background-image: linear-gradient(-45deg, #ff9999, #9966ff);
}
.search-btn:active{
  background-color: #a14550;
}
footer{
  position: relative;
  top: 190px;
  width: 100%;
  height: 200px;
  background: black;
}

footer p{

  color: white;
}

.hiden {
  display: none;
}
